{extends "../@layout.latte"}
{block title}Мои беседы{/block}
{block header}Мои беседы
    <div style="float: right;">
	<a href="/im/convs/create" style="font-size: 11px; color: #999;">Создать беседу</a>
    </div>
{/block}
{block content}
    <div class="tabs">
        <div class="tab">
            <a href="/im">Все сообщения</a>
        </div>
        <div id="activetabs" class="tab">
            <a id="act_tab_a" href="javascript:false">Мои беседы</a>
        </div>
    </div>


    {if count($chats) > 0}
        <div class="crp-list scroll_container">
            {foreach $chats as $chat}
                <div class="scroll_node crp-entry"
                     onmousedown="window.location.assign({$chat->getURL()});">
                    <div class="crp-entry--image">
                        <img src="{$chat->getAvatarUrl('miniscule')}" class="ava"
                             alt="{$chat->getName()}" loading="lazy" />
                    </div>
                    <div class="crp-entry--info">
                        <a href="{$chat->getURL()}">{$chat->getName()}</a><br/>
                        <span>{$chat->getParticipantsCount()} участников</span>
                    </div>
                    <div class="crp-entry--message">
                        <div class="crp-entry--message---text">
                            {if $chat->getLastMessage()}
                                {$chat->getLastMessage()->getText()|noescape}
                            {/if}
                        </div>
                    </div>
                </div>
            {/foreach}
        </div>
        <div style="margin-top: 3px;">
            {include "../components/paginator.latte", conf => $paginatorConf}
        </div>
    {else}
        <br/>
        <br/>
        <center>У вас нет бесед.</center>
    {/if}
{/block}

