{extends "../@layout.latte"}
{block title}{_my_messages}{/block}

{block header}{_my_messages}{/block}

{block content}
    <div class="tabs">
        <div id="activetabs" class="tab">
            <a id="act_tab_a" href="javascript:false">{_all_messages}</a>
        </div>
    <div class="tab">
        <a href="/im/convs">Мои беседы</a>
    </div>
    </div>

    {if sizeof($corresps) > 0}
        <div class="crp-list scroll_container">
            <div n:foreach="$corresps as $coresp"
                 class="scroll_node crp-entry"
                 data-im-url="{$coresp->getURL()}"
                 onmousedown="window.location.assign({$coresp->getURL()});" >
                {var $recipient = $coresp->getCorrespondents()[1]}
                {var $lastMsg   = $coresp->getPreviewMessage()}
                {var $isSaved   = $recipient->getId() === $thisUser->getId()}

                <div class="crp-entry--image">
                    {if $isSaved}
                        <img src="/assets/packages/static/openvk/img/im/saved_messages.png"
                        alt="{_saved_messages}" loading=lazy />
                    {else}
                        <img src="{$recipient->getAvatarURL('miniscule')}"
                        alt="Фотография пользователя" loading=lazy />
                    {/if}
                </div>
                <div class="crp-entry--info">
                    {if $isSaved}
                        <a href="{$coresp->getURL()}">{_saved_messages}</a><br/>
                    {else}
                        <a href="{$recipient->getURL()}">{$recipient->getCanonicalName()}</a><br/>
                    {/if}
                    <span>{$lastMsg->getSendTimeHumanized()}</span>
                </div>
                <div n:class="crp-entry--message, !$isSaved && $lastMsg->getUnreadState() ? unread">
                    {var $_author = $lastMsg->getSender()}

                    <div class="crp-entry--message---av" n:if="!$isSaved && $_author->getId() === $thisUser->getId()">
                        <img src="{$_author->getAvatarURL('miniscule')}"
                        alt="Фотография пользователя" />
                    </div>
                    <div class="crp-entry--message---text">
                        {$lastMsg->getPreviewText()|noescape}
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 3px;">
            {include "../components/paginator.latte", conf => $paginatorConf}
        </div>
    {else}
        <br/>
        <br/>
        <center>{_no_messages}</center>
    {/if}
{/block}
